:root {
    --font-family-primary: 'Montserrat', sans-serif;
    --font-family-secondary: 'Fraunces', serif;

    --font-size-primary: 14px;
    --font-size-secondary: 40px;

    --font-color-primary: hsl(158, 36%, 37%);
    --font-color-secondary: hsl(212, 21%, 14%);
    --font-color-third: rgb(115, 115, 115);

    --backgound-color-primary: hsl(30, 38%, 92%);
    --backgroun-color-secondary: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.general-content {
    height: 550px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-base {
    width: 100%;
    height: 550px;
}

.contenedor-basedos {
    background-color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 20px 20px 30px;

}

.subcontenedor-img {
    height: 100%;
    width: 100%;
    background-attachment: initial;
    background-size: contain;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}


.subcontenedor-img2 {
    display: none;
    height: 365px;
    width: 100%;
    background-attachment: initial;
    background-size: contain;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


.subcontenedor-texto1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 60px;
    width: 100%;
    color: #808080;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-primary);
    opacity: 75%;
}

.subcontenedor-texto2 {
    width: 100%;
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-secondary);
    font-weight: 900;
    display: flex;
    text-align: start;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
}

.letras {
    width: 100%;
}

.subcontenedor-texto3 {
    font-family: var(--font-family-primary);
    font-weight: 200;
    color: var(--font-color-third);
    font-size: var(--font-size-primary);
    line-height: 200%;
    opacity: 75%;
}

.contenedor-numeros {
    display: flex;
    align-items: center;
    gap: 26px;
    width: 100%;
}

.subcontenedor-primernumero {
    font-size: var(--font-size-secondary);
    color: var(--font-color-primary);
    font-weight: 500;
    font-family: var(--font-family-secondary)
}

.subcontenedor-segundonumero {
    font-size: var(--font-size-primary);
    padding-right: 30px;
    text-decoration: line-through;
    font-family: var(--font-family-primary);
    color: var(--font-color-third);
}

.contenedor-botones {
    width: 100%;
    margin-bottom: 20px;
}

.subcontenedor-boton {
    height: 60px;
    width: 100%;
    font-size: var(--font-size-primary);
    font-weight: 500;
    font-family: var(--font-family-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--font-color-primary);
    color: #ffffff;
    border-radius: 10px;
    gap: 10px;
    cursor: pointer;
    border: none;

}

.subcontenedor-boton:hover {
    background-color: darkslategrey
}

.carro {
    height: 20px;
    width: 20px;
}


/*----------------------Responsive-----------------------*/
@media screen and (max-width: 766px) {
    .general-content {
        flex-direction: column;
        width: 620px;
        height: 775px;
        margin: 0 30px 0 30px;
    }

    .subcontenedor-img2 {
        display: flex;
    }

    .subcontenedor-img {
        display: none;
    }

    .contenedor-base {
        height: 380px;
    }

    .contenedor-basedos {
        height: 410px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}

@media screen and (max-width: 610px) {
    .contenedor-basedos{
        height: 450px;
    }
    .subcontenedor-img2{
        height: 335px;
    }
}

@media screen and (max-width: 485px) {
    .contenedor-basedos{
        height: 470px;
    }
    .subcontenedor-texto2{
        font-size: 30px;
    }
}